
* {
  margin: 0; 
  padding: 0; 
}
td
{
	width: 10px;
	height: 10px;
	


}
/*
table { 
  border-collapse: collapse; 
  border-spacing: 0; 
}

#nestedTable { 
  padding: 0px; 
  margin: 0 auto; 
  border: 2px solid #181818; 
}

#nestedTable tr td { 
  width: 60px; 
  height: 60px; 
}

#nestedTable tr:nth-child(2n) td:nth-child(2n+1) { 
  background: #9f9f9f; 
}

#nestedTable tr:nth-child(2n+1) td:nth-child(2n) { 
  background: #9f9f9f; 
} */

.class1
{
	background-color: green;
}
.class2
{
	background-color: yellow;
}