#b1
{
	background-color:green;
}
#back
{
	background-color: skyblue;
}
.bg-color{
	background-color: red;
}
.evenDate{
	/*background-color: blue;*/
/*	color:white;
*/}
.oddDate{
/*	background-color: pink;
*/}