#t1
{
		background: black;
		width: 1500px;
		height:180px;
		
}
.t2
{
	color:white;
	padding-left: 180px;
	padding-top: 20px;
}
.t3
{
	color:white;
	padding-left: 180px;
	padding-top: 10px;
	font-family: 'Bitter', serif;
	font-size: 25px;
	
}
.t4
{
	color: white;
	padding-bottom:20px;
	padding-left: 800px;
	font-family: 'Bitter', serif;
	font-size: 25px;

}
.img
{
	height:800px;
	margin:10px;
	width:1500px; 
}